<html>
    <body>
        <center>
            <div>
                <form action="/addNewUser" method="post" style="width : 20%; padding : 2%; border : 3px solid black; border-radius : 3%; margin-top : 3%;">
                    <h2>ADD NEW USER</h2>
                    <label for="name">Name:</label><br>
                    <input type="text" name="name"><br>
                    <label for="email">Email:</label><br>
                    <input type="text" name="email"><br>
                    <label for="text">Password:</label><br>
                    <input type="text" name="password"><br>
                    <input style="background: none; border-radius : 3%; margin-top: 4%;" type="submit"/>
                    <a href="/tweeterLoginForm">Already registered..?</a>
                </form>
            </div>
        </center>
    </body>
</html>